.DS_Store
**/__pycache__
.mypy_cache
.vscode
llvm
riscv-toolchain
.idea
**/*.knormal.ml
**/*.sld
**/*.min-rt.ppm
**/*.o
**/*.ll
**/*.s
**/*.ml.lex
venv
fib
lex
Dockerfile
samples/
**/.*.dot
**/*.png
**/*.out
**/*.assoc.ml
test/
transform/deprecated/
assembler/
